@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.nav-container {
  background-color: white;
  height: 75px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid red;
}

.left-nav {
  font-size: 3rem;
}

.left-nav span {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  color: red;
  font-weight: 700;
}

.logo {
  font-size: 3rem;
}

.nav-list {
  font-size: 1.1rem;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  text-decoration: none;
  color: black;
}

.nav-list-desktop {
  cursor: pointer;
  margin-left: 40px;
  margin-top: 10px;
  padding-right: 20px;
  border-bottom: 3px solid rgb(255, 255, 255);
  text-decoration: none;
}

.account-sub-menu {
  list-style-type: none;
  margin-top: 10px;
}

.account-sub-menu li {
  margin-top: 10px;
}

.nav-list-mobile {
  cursor: pointer;
  border-bottom: 3px solid rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 20px;
}

.register-container {
  font-size: 2rem;
  padding: 20px;
  margin-top: 100px;
  width: 500px;
  min-height: 400px;
  border-radius: 10px;
  border: 1px solid rgb(200, 198, 198);
}

.register-container .name {
  font-weight: 700;
  font-size: 2rem;
}

.register-form {
  font-size: 1rem;
}

.hero-image {
  object-fit: cover;
  object-position: 100% 0%;
  position: absolute;
  width: 100%;
  height: 450px;
}

.hero-image-mobile {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 450px;
  z-index: -1;
}

.search-container {
  position: relative;
  top: 325px;
  left: 33%;
  width: 33%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #020202;
}

.search-container-mobile {
  position: relative;
  top: 25px;
  left: 5%;
  width: 90%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #020202;
}

.search-title {
  font-size: 1.6rem;
  color: red;
  font-weight: 700;
}

.search-button {
  width: 200px;
  background-color: red;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.burger-menu {
  cursor: pointer;
  font-size: 3rem;
}

.sidebar-header {
  font-size: 2rem;
  font-weight: 700;
  color: red;
}

.account-sidebar {
  margin-top: 100px;

  width: 300px;
  height: 500px;
  border-left: 3px solid rgb(246, 9, 9);
}

.account-sidebar-nav {
  list-style-type: none;
}

.account-sidebar-nav a {
  text-decoration: none;
  color: black;
}

.account-sidebar-nav li {
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
}

.account-content-container {
  margin-top: 50px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: auto;
  max-width: 1600px;
}

.orders-content-container {
  margin-top: 50px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.account-sidebar-nav h5 {
  color: red;
  font-weight: 700;
}

.filter-image {
  border-radius: 10px;
  margin-bottom: 5px;
}

.search-result-card {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  border: 1px solid rgb(238, 227, 227);
  box-shadow: #b9b7b7 3px 3px 3px;
}

.top-menu-banner {
  width: 100%;
  border-radius: 10px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  border: 1px solid rgb(238, 227, 227);
  box-shadow: #b9b7b7 3px 3px 3px;
}

.search-link {
  text-decoration: none;
  color: black;
}

.search-link:hover {
  text-decoration: none;
  color: black;
}

.search-result-card:hover {
  transform: scale(1.02);
}

.search-card-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 0px;
  padding-left: 0px;
}

.order-slip {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 227, 227);
  border-radius: 10px;
  min-height: 300px;
  max-height: 700px;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 50px;
}

.category-container ul a {
  text-decoration: none;
  color: black;
  padding-left: 0;
}

.category-container ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-left: 0;
}

.category-container ul li {
  font-size: 1.1rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

.category-container ul li:hover {
  transform: scale(1.1);
  text-decoration: underline #ff0000 3px;
}

.order-slip ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

.order-slip ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(188, 184, 184);
}

.category-container {
  background-color: rgb(255, 255, 255);
  border-left: 3px solid rgb(246, 9, 9);
  min-height: 100px;
  max-height: 600px;
  text-align: center;
  padding-left: 1px;
  position: sticky;
  top: 50px;
}

.menu-item-card {
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgb(238, 227, 227);
  box-shadow: #b9b7b7 3px 3px 3px;
  max-height: 100px;
  margin-bottom: 15px;
}

.register-link {
  font-size: 0.9rem;
}

.pending-orders {
  width: auto;
  height: 50px;
  background-color: #fcfcfc;
  border: 1px solid black;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.pending-orders:hover {
  cursor: pointer;
  background-color: #c8be33;
  transform: scale(1.05);
}

.completed-orders {
  width: 300px;
  height: 50px;
  background-color: #fcfcfc;
  border: 1px solid black;
  margin-right: 20px;
  border-radius: 10px;
}

.completed-orders:hover {
  cursor: pointer;
  background-color: #07f107;
  transform: scale(1.05);
}

.manage {
  width: 33%;
  height: 100px;
  background-color: #fcfcfc;
  border: 1px solid black;
  font-size: 2rem;
}

.manage:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.order-container {
  width: 100%;
  border: 1px solid rgb(209, 206, 206);
  padding: 10px;
  border-radius: 10px;
}

.order-container:hover {
  background-color: rgba(170, 167, 167, 0.486);
}

.order-sidebar {
  border-right: 3px solid red;
  min-height: 88vh;
  max-height: 88vh;
  overflow-y: auto;
}

.name {
  margin-bottom: 0;
}

.no-link {
  text-decoration: none;
  color: black;
}

.no-link:hover {
  text-decoration: none;
  color: black;
}

.order-main-container {
  background: linear-gradient(to bottom, red, white 20%);
  border: 1px solid rgb(209, 206, 206);
  padding: 10px;
  border-radius: 10px;
}

.orderedItem {
  border: 1px solid rgb(209, 206, 206);
  border-radius: 10px;
}

.footer {
  background-color: rgb(225, 221, 221);
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 75px;
}

.footer-logo {
  font-size: 1.3rem;
}

.completedCard {
  background-color: green;
}
